**/*.sw*
*.cert
*.crt
*.key
*.jwt
.crimages

env/*
!env/env.template
!env/example
!env/kustom.sh

**/base/charts
**/secrets.env
**/base/params.env
**/base/auth
**/overlays/*
!**/overlays/example

alloy/base/config.alloy
loki/base/loki-values.yaml
loki/base/loki-gateway-values.yaml
mimir/base/mimir-values.yaml
ingress/nginx/base/nginx-values.yaml
ingress/istio/istio-operator.yaml
tempo/base/tempo-values.yaml
grafana/base/grafana-values.yaml
grafana/postgresdb/resources/03-roles.sql
prometheus/base/prom-values.yaml
prometheus/base/prom-addScrapeConfigs.yaml
prometheus/ingress/istio/base/prometheus-virtualservice.yaml
