#  example.env
# Each environment should be defined as a subdirectory to the root 'env/'
# directory, where GRAFANA_ENV would match both the env subdirectory and
# the name of the env file (eg. ./env/${GRAFANA_ENV}/${GRAFANA_ENV}.env)
#
export GRAFANA_ENV=example

# see the '../env.template' for a complete env configuration

export S3_ENDPOINT=${S3_ENDPOINT}
export S3_REGION=${S3_REGION}
export S3_ACCESS_KEY=${S3_ACCESS_KEY}
export S3_SECRET_KEY=${S3_SECRET_KEY}
export S3_SKIP_VERIFY=${S3_SKIP_VERIFY}

# nginx or istio supported 
export INGRESS_NAMESPACE=istio-system

export GRAFANA_NAMESPACE=monitoring
export LOKI_DOMAINNAME=
export GRAFANA_DOMAINNAME=grafana.example.com
export TEMPO_DOMAINNAME=
export MIMIR_DOMAINNAME=
export PROMETHEUS_DOMAINNAME=

export GRAFANA_ADMIN_USER=admin
export GRAFANA_ADMIN_PASSWORD=admin
export GRAFANA_DB_NAME=grafana

# Sets up Authentication for all Agents shipping logs/metrics
export AGENT_USERNAME=alloy
export AGENT_PASSWORD=alloypw
