#  example.env
# Each environment should be defined as a subdirectory to the root 'env/'
# directory, where GRAFANA_ENV would match both the env subdirectory and 
# the name of the env file (eg. ./env/${GRAFANA_ENV}/${GRAFANA_ENV}.env)
# 
export GRAFANA_ENV=example

# see the 'env.template' for a complete env configuration
